/* BODY STYLE */
body {
    font-family: 'Noto Serif', serif;
    background-image: url(images/tacosqueeze.png);
    background-size: cover;
    background-repeat: repeat;
}

body:after {
    content: "";
    position: absolute;
    background: white;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    height:125%;
    z-index: -1;
}

/* NAV BAR STYLE */
.navbar {
    border-bottom: 5px solid #f7b13f;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-weight: bolder;
}

.navbar-brand {
    font-size: xx-large;
}

/* CONTENT STYLE */
.fav-div {
    height: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    text-align: left;
    border: 5px solid #f7b13f;
    background-color: rgba(255,255,255, 0.8);
    overflow: auto;
}

/* FAVORITES HEADER */
#favHeader {
    text-align: center;
    font-size: 50px;
    font-family: 'Liu Jian Mao Cao', cursive;
    text-shadow: 2px 2px 6px grey;
}

/* TACO CATEGORIES */
.box {
    font-weight: bolder;
}

/* RECIPE DIRECTIONS */
.recipe {
    font-weight: normal;
}

/* BUTTON TO REMOVE FROM FAVORITES */
.remove {
    float: right;
    background-color: rgb(40, 167, 69);
    color: white;
    font-weight: bolder;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 7px;
}

.removeBtn:hover {
    border: 2px solid rgb(40, 167, 69);
}

.bnt-text {
    color:rgb(40, 167, 69);
}

.bnt-text:hover {
    text-decoration: none;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: white;
}

/* FOOTER BAR STYLE */
.footer {
    border-top: 5px solid #f7b13f;
    font-family: 'Liu Jian Mao Cao', cursive;
    background-color: #f7c063;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
}

/* animate.css*/
.animated {
    -webkit-animation-duration: 20ms;
    -moz-animation-duration: 20ms;
    animation-duration: 20ms;
    animation-iteration-count: infinite;  
}

.delay {
    animation-delay: 20s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}