body {
    font-family: 'Noto Serif', serif;
}

/* NAV BAR STYLE */
.navbar {
    border-bottom: 5px solid #f7b13f;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-weight: bolder;
}

.navbar-brand {
    font-size: xx-large;
}

header {
    background-color: #f7c063;
    border-bottom: 5px solid #f7b13f;}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 60px;
}

#tacoHeader {
    width: 100px;
    margin-top: 10px;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

#tequilaHeader {
    width: 100px;
    margin-top: 10px;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

#tacoBox {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 500px;
    border: 5px solid #f7b13f;
    overflow: auto;
}

.tacoBtn {
    background-color: rgb(40, 167, 69);
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 190px;
    box-shadow: 1px 1px 5px black;
}

#favShell {
    border-bottom: 50px black;
}

#tequilaBox {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 500px;
    border: 5px solid #f7b13f;
    overflow: auto;
}

#textarea {
    width: 100%;
    margin-top: 10px;
}

#searchDrink {
    background-color: rgb(40, 167, 69);
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100px;
    box-shadow: 1px 1px 5px black;
}

/* FOOTER BAR STYLE */
.footer {
    border-top: 5px solid #f7b13f;
    font-family: 'Liu Jian Mao Cao', cursive;
    background-color: #f7c063;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
}