body {
    font-family: 'Noto Serif', serif;
    background-image: url(images/tacosqueeze.png);
    background-size: cover;
    background-repeat: repeat;
}

body:after {
    content: "";
    position: absolute;
    background: white;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    height:125%;
    z-index: -1;
}

/* NAV BAR STYLE */
.navbar {
    border-bottom: 5px solid #f7b13f;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-weight: bolder;
}

.navbar-brand {
    font-size: xx-large;
}

header {
    background-color: #f7c063;
    border-bottom: 5px solid #f7b13f;}
    

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 60px;
}

/* HEADER FOR TACO COLUMN */
#tacoHeader {
    width: 100px;
    margin-top: 10px;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px 6px grey;
}

/* HEADER FOR TEQUILA COLUMN */
#tequilaHeader {
    width: 100px;
    margin-top: 10px;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px 6px grey;
}

#tacoBox {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 500px;
    background-color: rgba(255,255,255, 0.8);
    border: 5px solid #f7b13f;
    overflow: auto;
}

#description {
   /* line-height: 1; */
   /* float: left; */
   text-align: center;
   font-weight: normal;
   margin-top: 25px;
   margin-bottom: 25px;
   /* border: 2px black dotted; */
   border-bottom: dotted 2px rgb(40, 167, 69);
}

.name {
    font-weight: bolder;
    color: rgb(40, 167, 69);
    /* text-align: left; */
    /* float: right; */
    /* font-size: 16px; */
    /* line-height: 0px; */
}

/* BUTTON TO RANDOMLY GENERATE NEW TACOS */
#newTaco {
    margin-left: 80px;
    width: 50%;
}

/* ANIME HOVER EFFECT TO SHAKE TACO ICON */
#newTaco:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* BUTTONS IN THE TACO BOX */
.tacoBtn {
    background-color: rgb(40, 167, 69);
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 165px;
    box-shadow: 1px 1px 5px black;
}

#favShell {
    border-bottom: 50px black;
}

.bnt-text {
    color:rgb(40, 167, 69);
}

.bnt-text:hover {
    text-decoration: none;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: white;
}

/* TACO CATEGORIES */
.box {
    /* font-weight: bolder; */
    color: black;
}

/* RECIPE DIRECTIONS */
.recipe {
    /* color: blue; */
}

#namez {
    font-weight: bolder;
    color: magenta;
}

/* BUTTONS IN THE TEQUILA BOX */
#tequilaBox {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 500px;
    background-color: rgba(255,255,255, 0.8);
    border: 5px solid #f7b13f;
    overflow: auto;
}

#textarea {
    width: 100%;
    margin-top: 15px;
}

#searchDrink {
    text-align: center;
    background-color: rgb(40, 167, 69);
    color: white;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 100%;
    box-shadow: 1px 1px 5px black;
}

/* FOOTER BAR STYLE */
.footer {
    border-top: 5px solid #f7b13f;
    font-family: 'Liu Jian Mao Cao', cursive;
    background-color: #f7c063;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
}






.animated {
    -webkit-animation-duration: 20ms;
    -moz-animation-duration: 20ms;
    animation-duration: 20ms;
    animation-iteration-count: infinite;  
}

  .delay {
    animation-delay: 20s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;}