/*BODY STYLE*/
body {
    font-family: 'Noto Serif', serif;
    background-image: url(images/tacosqueeze.png);
    background-size: cover;
    background-repeat: repeat;
}

body:after {
    content: "";
    position: absolute;
    background: white;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    height:125%;
    z-index: -1;
}

/* NAV BAR STYLE */
.navbar {
    border-bottom: 5px solid #f7b13f;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-weight: bolder;
}

.navbar-brand {
    font-size: xx-large;
}

/* CONTENT STYLE */
.image {
    max-width: 225px;
    max-height: 235px;
    margin-top: 60px;
    content: center;
    position: relative;
    right:20%;
}

.button-main {
    position: relative;
    font-family: 'Liu Jian Mao Cao', cursive;
    text-align: center;
    content: center;
    top: 50px;
    right: 1%;
}

.bnt-text {
    color:rgb(40, 167, 69);
}

.bnt-text:hover {
    text-decoration: none;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: white;
}

.container {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 400px;
    background-color: rgba(255,255,255, 0.8);
    border: 5px solid #f7b13f;
    overflow: auto;
}

/* FOOTER BAR STYLE */
.footer {
    border-top: 5px solid #f7b13f;
    font-family: 'Liu Jian Mao Cao', cursive;
    background-color: #f7c063;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
}

/* classes needed to use animate.css */
.animated {
    -webkit-animation-duration: 20ms;
    -moz-animation-duration: 20ms;
    animation-duration: 20ms;
    animation-iteration-count: infinite;  
}

  .delay {
    animation-delay: 20s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s
